<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class=" d-flex navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" style="margin-right:5px">
                <%= link_to 'Profile', user_profile_path(@user) %>
        </li>
        <li class="nav-item">
                <%= link_to 'Home', home_path %> 
        </li>
        
        
      </ul>
      <form class="d-flex mx-auto" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
        <ul class=" d-flex navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item" style="margin-right:5px">
                    Notification Icon
            </li>
        <li class="nav-item">
            <%= button_to 'Sign Out', destroy_user_session_path,
                        method: :delete, data: { turbo: false }%>
        </li>        
      </ul>      
    </div>
  </div>
</nav>
  <div class="row" style="height:100vh">
    <div class="col-2" style="border-right-style:solid;border-color:black;padding-right:0px;padding-left:12px">
        <div class="d-flex" style="height:30px">
            <div style="font-size:12px">
            <p style="margin-right:10px">
                Edit
            </p>
            </div>
            <p style="margin-left:5 px">
                <%= @team.name %>
            </p>
        </div>
        <hr style="margin-bottom:4px">
        <div >
            <ul style="margin-left:5px;list-style-type:none">
                <%= image_tag 'team.jpg', class: 'w-100 shadow-lg d-block mx-auto', style: 'max-width: 32rem;' %>
            </ul>
            <% if current_user.team.present? %>
                    <% if @team.uid==current_user.id%>
                    <% else %>
                        <%= button_to "Leave", remove_team_member_path(@team,@user), method: :delete, data: { turbo: false }, class:'btn btn-primary' %>
                    <% end %>
            <% else %>
                <%= button_to "Join", add_team_member_path(@team,@user), method: :post, data: { turbo: false }, class:"btn btn-primary" %>
            <% end %>

        </div>
        
        
        <div class="d-flex" style="border-top-style:solid;height:20px"></div>
            <p style="margin-right:5 px">
                Settings
            </p>
            <hr style="margin-bottom:4px">
            
              <%= link_to "Create new team", new_team_path, class: 'btn btn-primary'%>
        </div>
    
    <div class="col" style="padding-left:0px">
        <div >
            <h2>
                Team Description
            </h2>
        </div>
        <hr style="margin-bottom:4px">
        <div>
            <div style="margin:20px"class="col-10">
                <%= @team.description %>
            </div>
            
        </div>
        <hr style="margin:0px">
        <div class="d-flex" style="border-top-style:solid;height:20px"></div>
        <div >
            <h2>
                Media
            </h2>
        </div>
        <hr style="margin-bottom:4px">
        <div>
            <div class="col-10">
                <button class="favorite styled"
                type="button">
                photos
            </button>
            <button class="favorite styled"
                type="button">
                videos
            </button>
            
            </div>
        </div>
        <hr style="margin:0px">
        <div class="d-flex" style="border-top-style:solid;height:20px"></div>
        <div >
            <h2>
                Participating Events
            </h2>
        </div>
        <hr style="margin-bottom:4px">
        <div style="margin:10px">
            <% if @team.events.present?%>
                <% @events=@team.events%>
                <ul style="list-style-type:none">
                    <% @events.each do |event| %>
                        <li>
                            <%= event.eventname %>
                        </li>
                    <% end %>
                </ul>
            <% end %>
        </div>
        
        
    </div>
</div>
</div>

