<h1>Create New group</h1>
<%= bootstrap_form_with model: @group, url: create_group_path, method: :post, data: { turbo: false } do |f| %>
  <%= f.text_field :name %>
  <%= f.text_area :star_player %>
  <%= f.file_field :group_image%>
  <%= f.select :member_type, ['None','forward', 'goalie','defender','midfielder'] %>
  <%= f.text_area :description %>
  <%= f.select :location, ['None','Memphis', 'St.Louis','Nashville'] %>
  <%= f.select :interests, ['None','professional', 'casual'] %>
  <%= f.submit %>
<% end %>
